html {
  background: url(../imgs/spider.jpg) no-repeat  center center fixed;
  background-size: cover;
}
main {
  background-color: white;
  opacity: .75;
  padding: 20px;
  border-radius: 4px
}
body {
  margin: 0px;
  font-family: Trebuchet MS;
}
html {
  margin: 0px;
}
header {
  margin-top: 20px;
  background-color: black;
  width: 100%;
  height: 120px;
  color: white;
  font-family: Trebuchet MS;
  letter-spacing: 0.25em;
  text-indent: 20px;
  font-size: 28px;
}
header div a {
  margin-left: 5px;
  margin-right: 5px;
}
header div {
  margin-right: 34px;
  margin-top: 34px;
  float: right;
}
nav {
  display: block;
  color: blue;
}
nav a {
  display: inline-block;
  width:19%;
  font-size: larger;
  text-decoration: none;
  text-align: center;
  color: #050025;
}
nav a:hover {
  color: #FF2965;
}
footer {
  background-color: black;
  width: 100%;
  height: 90px;
  position: absolute;
  bottom: 0px;
}
footer p {
  float: right;
  color: white;
  display: inline-block;
  margin-right: 12px;
  margin-top: 20px;
  font-size: smaller;
}
footer img {
  float: right;
  display: inline-block;
  margin-top: 16px;
  margin-right: 16px;
}
.blogbutton {
  width: 380px;
  height: auto;
  border-radius: 4px;
  display: block;
  background-color: white;
  opacity: .75;
  margin: 5px;
  padding: 4px;
  text-align: center;
}